/*
 * Nextflow Configuration for REPUN Pipeline
 */

// Enable Docker
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}
conda.enabled = true

// Default process resources
process {
    cpus   = 4
    memory = '32 GB'
}

// profile with AWS credentials
aws {
    profile = 'mdic'
}

// Manifest
manifest {
    name        = 'repun-pipeline'
    description = 'Simple pipeline to run repun on multiple samples'
    version     = '1.0.0'
    mainScript  = 'main.nf'
}

// Profiles for different execution environments
profiles {

    standard {
        // Default profile - uses settings above
    }

    local {
        process {
            cpus   = 24
            memory = '386 GB'
        }
    }

    high_mem {
        process {
            cpus   = 22
            memory = '128 GB'
        }
    }
}

// Process-specific configuration
process {
    withName: 'DOWNLOAD_AND_CONVERT_ALIGNMENT' {
        cpus   = 4  // More CPUs for samtools conversion
        memory = '16 GB'
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withName: 'HANDLE_INDEX' {
        cpus   = 2
        memory = '8 GB'
        errorStrategy = 'retry'
        maxRetries = 3
    }
}
